**/log/
**/log_ssl/
**/wandb/
**/__pycache__/
**/pt_models/
**/.idea/
**/build/
**/dist/
**/wandb/
**/run_experiment_remote.sh
temp.py
./models/_ext.cpython-39-x86_64-linux-gnu.su
datasets/data/DFAUST/*
datasets/data/IKEA ASM/*
datasets/data/MSRAction3D_fps/*
efran_test.py
my_token_file
configs/msr-action3d/archive/*
configs/msr-action3d/archive_2/*
configs/msr-action3d/config_msr_action3d_temporal_0.yaml
configs/msr-action3d/grid_temporal/*
datasets/data/MSRAction3D_fps_new/test/*
datasets/data/MSRAction3D_fps_new/test/*
